//Header setup

h1 {
  margin-top: 3em;
  margin-bottom: 3em;
  font-family: $app-font;
  color: $red;
  text-align: center;
}

//Form setup

form {
  margin: 1em;
  @include flex;

  textarea {
    border-radius: 5px;
    color: $blue;
  }
}
